<h3>Buttons</h3>

<div class="flex">
  <section>
    <h4>Without icon</h4>
    <div class="flex">
      <section>
        <h5></h5>
        <br>
        <h5>Disabled</h5>
        <br>
        <h5>Loading</h5>
        <br>
        <h5>Primary</h5>
        <br>
        <h5>Secondary</h5>
        <br>
        <h5>Outline</h5>
        <br>
        <h5>Tertinary</h5>
        <br>
      </section>

      <section>
        <h5>Basic</h5>

        <mc-button [disabled]="true" color="basic">Test</mc-button>
        <br>
        <mc-button [loading]="true" color="basic">Test</mc-button>
        <br>
        <mc-button type="primary" color="basic">Test</mc-button>
        <br>
        <mc-button type="secondary" color="basic">Test</mc-button>
        <br>
        <mc-button type="outline" color="basic">Test</mc-button>
        <br>
        <mc-button type="tertinary" color="basic">Test</mc-button>
        <br>
      </section>

      <section>
        <h5>Default</h5>

        <mc-button [disabled]="true">Test</mc-button>
        <br>
        <mc-button [loading]="true">Test</mc-button>
        <br>
        <mc-button type="primary">Test</mc-button>
        <br>
        <mc-button type="secondary">Test</mc-button>
        <br>
        <mc-button type="outline">Test</mc-button>
        <br>
        <mc-button type="tertinary">Test</mc-button>
        <br>
      </section>

      <section>
        <h5>Danger</h5>

        <mc-button [disabled]="true" color="danger">Test</mc-button>
        <br>
        <mc-button [loading]="true" color="danger">Test</mc-button>
        <br>
        <mc-button type="primary" color="danger">Test</mc-button>
        <br>
        <mc-button type="secondary" color="danger">Test</mc-button>
        <br>
        <mc-button type="outline" color="danger">Test</mc-button>
        <br>
        <mc-button type="tertinary" color="danger">Test</mc-button>
        <br>
      </section>

      <section>
        <h5>Warning</h5>

        <mc-button [disabled]="true" color="warning">Test</mc-button>
        <br>
        <mc-button [loading]="true" color="warning">Test</mc-button>
        <br>
        <mc-button type="primary" color="warning">Test</mc-button>
        <br>
        <mc-button type="secondary" color="warning">Test</mc-button>
        <br>
        <mc-button type="outline" color="warning">Test</mc-button>
        <br>
        <mc-button type="tertinary" color="warning">Test</mc-button>
        <br>
      </section>

      <section>
        <h5>Success</h5>

        <mc-button [disabled]="true" color="success">Test</mc-button>
        <br>
        <mc-button [loading]="true" color="success">Test</mc-button>
        <br>
        <mc-button type="primary" color="success">Test</mc-button>
        <br>
        <mc-button type="secondary" color="success">Test</mc-button>
        <br>
        <mc-button type="outline" color="success">Test</mc-button>
        <br>
        <mc-button type="tertinary" color="success">Test</mc-button>
        <br>
      </section>
    </div>
  </section>

  <section>
    <h4>With icon</h4>
    <div class="flex">
      <section>
        <h5></h5>
        <br>
        <h5>Disabled</h5>
        <br>
        <h5>Loading</h5>
        <br>
        <h5>Primary</h5>
        <br>
        <h5>Secondary</h5>
        <br>
        <h5>Outline</h5>
        <br>
        <h5>Tertinary</h5>
        <br>
      </section>

      <section>
        <h5>Basic</h5>
        
        <mc-button [disabled]="true" icon="search" color="basic">Test</mc-button>
        <br>
        <mc-button [loading]="true" icon="search" color="basic">Test</mc-button>
        <br>
        <mc-button type="primary" icon="search" color="basic">Test</mc-button>
        <br>
        <mc-button type="secondary" icon="search" color="basic">Test</mc-button>
        <br>
        <mc-button type="outline" icon="search" color="basic">Test</mc-button>
        <br>
        <mc-button type="tertinary" icon="search" color="basic">Test</mc-button>
        <br>
      </section>

      <section>
        <h5>Default</h5>
        
        <mc-button [disabled]="true" icon="search">Test</mc-button>
        <br>
        <mc-button [loading]="true" icon="search">Test</mc-button>
        <br>
        <mc-button type="primary" icon="search">Test</mc-button>
        <br>
        <mc-button type="secondary" icon="search">Test</mc-button>
        <br>
        <mc-button type="outline" icon="search">Test</mc-button>
        <br>
        <mc-button type="tertinary" icon="search">Test</mc-button>
        <br>
      </section>

      <section>
        <h5>Danger</h5>
        
        <mc-button [disabled]="true" color="danger" icon="search">Test</mc-button>
        <br>
        <mc-button [loading]="true" color="danger" icon="search">Test</mc-button>
        <br>
        <mc-button type="primary" color="danger" icon="search">Test</mc-button>
        <br>
        <mc-button type="secondary" color="danger" icon="search">Test</mc-button>
        <br>
        <mc-button type="outline" color="danger" icon="search">Test</mc-button>
        <br>
        <mc-button type="tertinary" color="danger" icon="search">Test</mc-button>
        <br>
      </section>

      <section>
        <h5>Warning</h5>
        
        <mc-button [disabled]="true" color="warning" icon="search">Test</mc-button>
        <br>
        <mc-button [loading]="true" color="warning" icon="search">Test</mc-button>
        <br>
        <mc-button type="primary" color="warning" icon="search">Test</mc-button>
        <br>
        <mc-button type="secondary" color="warning" icon="search">Test</mc-button>
        <br>
        <mc-button type="outline" color="warning" icon="search">Test</mc-button>
        <br>
        <mc-button type="tertinary" color="warning" icon="search">Test</mc-button>
        <br>
      </section>

      <section>
        <h5>Success</h5>
        
        <mc-button [disabled]="true" color="success" icon="search">Test</mc-button>
        <br>
        <mc-button [loading]="true" color="success" icon="search">Test</mc-button>
        <br>
        <mc-button type="primary" color="success" icon="search">Test</mc-button>
        <br>
        <mc-button type="secondary" color="success" icon="search">Test</mc-button>
        <br>
        <mc-button type="outline" color="success" icon="search">Test</mc-button>
        <br>
        <mc-button type="tertinary" color="success" icon="search">Test</mc-button>
        <br>
      </section>
    </div>
  </section>
</div>

<h3>Icon buttons</h3>
<div class="flex">

  <section>
    <h5></h5>
    <br>
    <h5>Disabled</h5>
    <br>
    <h5>Loading</h5>
    <br>
    <h5>Primary</h5>
    <br>
    <h5>Secondary</h5>
    <br>
    <h5>Outline</h5>
    <br>
    <h5>Tertinary</h5>
    <br>
  </section>

  <section>
    <h5>Basic</h5>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      [disabled]="true"
      color="basic"
    ></mc-icon-button>

    <br>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      [loading]="true"
      color="basic"
    ></mc-icon-button>

    <br>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      color="basic"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="secondary"
      size="medium-square"
      color="basic"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="outline"
      color="basic"
      size="medium-square"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="tertinary"
      size="medium-square"
      color="basic"
    ></mc-icon-button>
  </section>

  <section>
    <h5>Default</h5>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      [disabled]="true"
    ></mc-icon-button>

    <br>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      [loading]="true"
    ></mc-icon-button>

    <br>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="secondary"
      size="medium-square"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="outline"
      size="medium-square"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="tertinary"
      size="medium-square"
    ></mc-icon-button>
  </section>

  <section>
    <h5>Danger</h5>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      color="danger"
      [disabled]="true"
    ></mc-icon-button>

    <br>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      color="danger"
      [loading]="true"
    ></mc-icon-button>

    <br>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      color="danger"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="secondary"
      size="medium-square"
      color="danger"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="outline"
      size="medium-square"
      color="danger"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="tertinary"
      size="medium-square"
      color="danger"
    ></mc-icon-button>
  </section>

  <section>
    <h5>Warning</h5>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      color="warning"
      [disabled]="true"
    ></mc-icon-button>

    <br>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      color="warning"
      [loading]="true"
    ></mc-icon-button>

    <br>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      color="warning"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="secondary"
      size="medium-square"
      color="warning"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="outline"
      size="medium-square"
      color="warning"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="tertinary"
      size="medium-square"
      color="warning"
    ></mc-icon-button>
  </section>

  <section>
    <h5>Success</h5>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      color="success"
      [disabled]="true"
    ></mc-icon-button>

    <br>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      color="success"
      [loading]="true"
    ></mc-icon-button>

    <br>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium-square"
      color="success"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="secondary"
      size="medium-square"
      color="success"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="outline"
      size="medium-square"
      color="success"
    ></mc-icon-button>

    <br>
    
    <mc-icon-button
      icon="settings"
      type="tertinary"
      size="medium-square"
      color="success"
    ></mc-icon-button>
  </section>
</div> 