<h3>Buttons</h3>

<div class="row">
  <h4>Primary</h4>

  <div>
    <mc-button
      type="primary"
      size="extra-large"
    >Primary</mc-button>

    <mc-button
      type="primary"
      size="large"
    >Primary</mc-button>

    <mc-button
      type="primary"
      size="medium"
    >Primary</mc-button>

    <mc-button
      type="primary"
      size="small"
    >Primary</mc-button>
  </div>

  <h4>Primary only icon</h4>

  <div>
    <mc-icon-button
      icon="settings"
      type="primary"
      size="extra-large"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="large"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="medium"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="primary"
      size="small"
    ></mc-icon-button>

  </div>
</div>

<div class="row">
  <h4>Secondary</h4>

  <div>
    <mc-button
      type="secondary"
      size="extra-large"
    >Secondary</mc-button>

    <mc-button
      type="secondary"
      size="large"
    >Secondary</mc-button>

    <mc-button
      type="secondary"
      size="medium"
    >Secondary</mc-button>

    <mc-button
      type="secondary"
      size="small"
    >Secondary</mc-button>
  </div>

  <h4>Secondary only icon</h4>

  <div>
    <mc-icon-button
      icon="settings"
      type="secondary"
      size="extra-large"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="secondary"
      size="large"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="secondary"
      size="medium"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="secondary"
      size="small"
    ></mc-icon-button>
  </div>
</div>

<div class="row">
  <h4>Outline</h4>

  <div>
    <mc-button
      type="outline"
      size="extra-large"
    >Outline</mc-button>

    <mc-button
      type="outline"
      size="large"
    >Outline</mc-button>

    <mc-button
      type="outline"
      size="medium"
    >Outline</mc-button>

    <mc-button
      type="outline"
      size="small"
    >Outline</mc-button>
  </div>

  <h4>Outline icon only</h4>

  <div>
    <mc-icon-button
      icon="settings"
      type="outline"
      size="extra-large"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="outline"
      size="large"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="outline"
      size="medium"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="outline"
      size="small"
    ></mc-icon-button>
  </div>
</div>

<div class="row">
  <h4>Tertinary</h4>

  <div>
    <mc-button
      type="tertinary"
      size="extra-large"
    >Tertinary</mc-button>

    <mc-button
      type="tertinary"
      size="large"
    >Tertinary</mc-button>

    <mc-button
      type="tertinary"
      size="medium"
    >Tertinary</mc-button>

    <mc-button
      type="tertinary"
      size="small"
    >Tertinary</mc-button>
  </div>

  <h4>Tertinary only icon</h4>

  <div>
    <mc-icon-button
      icon="settings"
      type="tertinary"
      size="extra-large"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="tertinary"
      size="large"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="tertinary"
      size="medium"
    ></mc-icon-button>

    <mc-icon-button
      icon="settings"
      type="tertinary"
      size="small"
    ></mc-icon-button>
  </div>
</div>


