<h3>Typography</h3>

<mc-text cssClass="mc-text-display-1">Display 1</mc-text>
<mc-text cssClass="mc-text-display-2">Display 2</mc-text>

<mc-text cssClass="mc-text-h1">Heading 1</mc-text>
<mc-text cssClass="mc-text-h2">Heading 2</mc-text>
<mc-text cssClass="mc-text-h3">Heading 3</mc-text>
<mc-text cssClass="mc-text-h4">Heading 4</mc-text>
<mc-text cssClass="mc-text-h5">Heading 5</mc-text>
<mc-text cssClass="mc-text-h6">Heading 6</mc-text>

<mc-text cssClass="mc-text-lead">Silver mist suffused the deck of the ship.</mc-text>

<mc-text cssClass="mc-text-body-1">
  By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
</mc-text>
<mc-text cssClass="mc-text-body-2">
  By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
</mc-text>

<mc-text cssClass="mc-text-blockquotes">
  Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.
</mc-text>

<mc-text cssClass="mc-text-capitalized">Capitalized</mc-text>

<mc-text cssClass="mc-text-small">Then came the night of the first falling star.</mc-text>

<mc-text cssClass="mc-text-tiny">Then came the night of the first falling star.</mc-text>


